@font-face {
font-family: pixelplay;
src: url(pixelplay.ttf)
font-style: normal;
font-wight: 100;
}

#button1{
  font-family: pixelplay;
}

#button2{
  font-family: pixelplay;
}

#button3{
  font-family: pixelplay;
}

#button4{
  font-family: pixelplay;
}

#button5{
  font-family: pixelplay;
}

#button6{
  font-family: pixelplay;
}

#button7{
  font-family: pixelplay;
}

#button8{
  font-family: pixelplay;
}

#button9{
  font-family: pixelplay;
}

#button10{
  font-family: pixelplay;
}

#button11{
  font-family: pixelplay;
}

#button12{
  font-family: pixelplay;
}

#button13{
  font-family: pixelplay;
}

#button14{
  font-family: pixelplay;
}

#button15{
  font-family: pixelplay;
}

#button16{
  font-family: pixelplay;
}

#button17{
  font-family: pixelplay;
}

#button18{
  font-family: pixelplay;
}
